In [3]:
for temp in range(0,20):
    print(temp)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for temp in range(10,20):
    print(temp, end=" ")

10 11 12 13 14 15 16 17 18 19

In [8]:
list2=[10, 20, 14, 55, 43, 87, 76]
print(list2)
print("Number of item in the List2: ")
print(len(list2))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [14]:
string="Artificial Intelligence"
print(string)
for c in string:
    print(c)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [11]:
print("M K Pandiyan")
print("34")
print("Software engineer")

M K Pandiyan
34
Software engineer

In [12]:
Tuble=(1, 'Welcome', 2, 'Hope')
print(Tuble)

(1, 'Welcome', 2, 'Hope')

In [13]:
Tuble1=(0, 1, 2, 3)
Tuble2= ('python', 'HOPE')
Tuble3=(Tuble1,Tuble2)
print(Tuble1)
print(Tuble2)
print(Tuble3)

(0, 1, 2, 3)
('python', 'HOPE')
((0, 1, 2, 3), ('python', 'HOPE'))

In [3]:
numbers=(20,10,16,19,25,1,276,188)
print(numbers)
for n in numbers:
    if(n%2!=0):
        print(str(n)+"  is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19  is odd
25  is odd
1  is odd

In [4]:
numbers=(20,10,16,19,25,1,276,188)
print(numbers)
for n in numbers:
    if(n%2==0):
        print(str(n)+"  is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20  is even
10  is even
16  is even
276  is even
188  is even